@use 'variaveis';

.trailer {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;

    &__container {
        text-align: center;
        font-size: x-large;

        @media (max-width: 540px) {
            .trailer {
                &__container {
                    &__video {
                        width: 300px;
                    }
                }
            }
        }

        &__video {
            border: solid 2px variaveis.$corPrincipal;
            box-shadow: 0px 4px 10px variaveis.$corPrincipal;
            width: 600px;
            margin-top: 16px;
        }

        h1 {
            color: variaveis.$corPrincipal;
        }
    }
}